# Ignore hidden directories
.*/

# But don't ignore the .github directory
!.github/

# If you want to track files inside .github, allow its contents too
!.github/**

# Ignore CSV files
*.csv

# ignore keys
*.ppk
*.pub
*.pem

# Ignore Excel files (both .xls and .xlsx)
*.xls
*.xlsx

# Ignore .terraform directory
.terraform/

# Ignore specific files within .terraform directory
.terraform/*.tfstate
.terraform/*.tfstate.backup


*.pdf
