This is my full inventory hostname {{ }} #Fill variable for full inventory hostname
This is my short inventory hostname {{ }} #Fill variable for short inventory hostname
This is my inventory file {{ }} #Fill variable for inventory file